<div style="margin-left: 10px;">
  <div flex fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="9px" fxLayoutGap.sm="0px">
    <mat-form-field fxFlex="20">
      <mat-extend-select required class="width" [items]="this.orgs" [valueField]="'id'" [displayField]="'name'" [placeHolder]="'Phòng ban'"
        [(selectedModel)]="filter.orgId" [applyPanelOverride]="true" style="max-height:50px;" (selectedModelChange)="searchPaging()"></mat-extend-select>
        <input matInput style="display: none;" [(ngModel)]="filter.orgId">
    </mat-form-field>
    <div fxFlex="20">      
        <button mat-raised-button color="primary" (click)="diaryUpdateRange()">Cập nhật</button>
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div class="table-container">
  <mat-table class="" [dataSource]="dataSource">
    <ng-container matColumnDef="isSelected">
      <mat-header-cell *matHeaderCellDef><input type="checkbox" (click)="checkAll($event.target.checked)"></mat-header-cell>
      <mat-cell *matCellDef='let item; let i = index;' class="centre"><input type="checkbox" [(ngModel)]="item.uiIsSelected"></mat-cell>
    </ng-container>

    <ng-container matColumnDef="STT">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef='let item; let i = index;' class="centre">{{start + i}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="kpi-month">
      <mat-header-cell *matHeaderCellDef>Mã</mat-header-cell>
      <mat-cell *matCellDef='let item' class="centre">{{item.code}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="org-name">
      <mat-header-cell *matHeaderCellDef>Phòng ban</mat-header-cell>
      <mat-cell *matCellDef='let item'>{{item.orgName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="level1ManagerFullName">
      <mat-header-cell *matHeaderCellDef>Tên quản lý trực tiếp</mat-header-cell>
      <mat-cell *matCellDef='let item' class="centre">{{item.level1ManagerFullName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="level2ManagerFullName">
      <mat-header-cell *matHeaderCellDef>Tên quản lý cấp tiếp</mat-header-cell>
      <mat-cell *matCellDef='let item' class="centre">{{item.level2ManagerFullName}}</mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Thao tác</mat-header-cell>
      <mat-cell *matCellDef="let item" class="centre">
        <a [routerLink]="['/emp/kpi-add-or-edit',item.id]">
          <mat-icon>edit_outline</mat-icon>
        </a>
      </mat-cell>
    </ng-container> -->
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
<mat-paginator [length]="countTotal" [pageSize]="5" [pageSizeOptions]="pageSizeOptions"></mat-paginator>